{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-white"> Welcome to our blog see our horses </h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            {% for horse in horse_list %}
            <div class="card mb-4">
                <div class="card-body">
                    {% if "placeholder" in horse.featured_image.url %}
                    <img class="card-img-top" src="{% static 'images/default.jpg' %}" alt="placeholder image">
                    {% else %}
                    <img class="card-img-top" src=" {{ horse.featured_image.url }}" alt="{{ horse.title }}">
                    {% endif %}
                    <h2 class="card-title">{{ horse.name }}</h2>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{%endblock%}